# ──────────────────────────────────────────
# Golden Hands – Server Environment Variables
# Copy this file to .env and fill in your values
# ──────────────────────────────────────────

PORT=5000
CLIENT_URL=http://localhost:3000

# PostgreSQL
DB_USER=postgres
DB_HOST=localhost
DB_NAME=golden_hands
DB_PASSWORD=Shush@1234
DB_PORT=5000

# Email (Gmail – create an App Password in Google Account settings)
SMTP_USER=healervibha@gmail.com
SMTP_PASS=fmkk nwbk drjx iqkg

# Vibha's email where contact form submissions go
VIBHA_EMAIL=healervibha@gmail.com
